<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knock_knock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name="com.example.knock_knock.SplashPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.knock_knock.TrainingMenu"
            android:label="@string/title_activity_training_menu" >
        </activity>
        <activity
            android:name="com.example.knock_knock.SoundSettings"
            android:label="@string/title_activity_sound_settings" >
        </activity>

        <service
            android:name="com.example.knock_knock.backGroundListener"
            android:label="@string/backGroundListener" >
        </service>

        <activity
            android:name="com.example.knock_knock.Notification_Screen"
            android:label="@string/title_activity_notification__screen" >
        </activity>
        <activity
            android:name="com.example.knock_knock.NavActionBarActivity"
            android:label="@string/title_activity_nav_action_bar" >
        </activity>
    </application>

</manifest>
